**.orig
*.rbc
*.sassc
.DS_Store
.project
.rspec
.rvmrc
.sass-cache
/.bundle
/coverage/
/db/*.sqlite3
/log/*
/public/system/*
/spec/tmp/*
/tmp/*
/vendor/bundle
capybara-*.html
db/schema.rb
dump.rdb
Gemfile.lock
pickle-email-*.html
rerun.txt